.footer-block {
    background: transparent;

    .header {
        color: #26a1e4;
        text-transform: uppercase;
    }

    .content {
        font-size: 12px;
        margin-top: 20px;
        padding-right: 40px;
        color: white;
    }
}