.footer-block {
    background: transparent;

    .header {
        font-size: 20px;
        line-height: 22px;
        color: #26a1e4;
        text-transform: uppercase;
    }

    .content {
        font-size: 14px;
        line-height: 24px;
        margin-top: 20px;
        padding-right: 40px;
        color: white;
    }
}