.service {
    width: 100%;
    margin-bottom: 15px;

    .header {
        font-size: 18px;
        color: #00bdec;
        text-transform: uppercase;        
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text {
        font-size: 14px;
        color: black;
        text-align: center;
    }
}