@import 'variables.scss';

.service {
    width: 100%;
    margin-bottom: 15px;

    .header {
        font-size: 24px;
        line-height: 31px;
        color: $primary-color;
        text-transform: uppercase;        
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text {
        font-size: 16px;
        line-height: 31px;
        color: black;
        text-align: center;
    }
}