@import 'variables.scss';

.navbar {
    font-size: 16px;
}

.navbar-brand {
    font-size: 38px;
    color: $primary-color !important;
    margin-left: 75px;

    img {
        margin-right: 15px;
    }
}

.headerSpan {
    color: $secondary-color;
}

.navbar-nav {
    margin-right: 50px;
}

.nav-link {
    font-weight: 500;
    color: black !important;
    margin-left: 10px; 
    margin-right: 10px; 
    text-transform: uppercase;

    &.active {
        color: $primary-color !important;
    }
}