.block {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 35px;
    padding-bottom: 35px;

    .header {
        font-size: 26px;
        color: #00bdec;
        text-transform: uppercase;
    }

    .line {
        background-color: #ff5384;
        width: 68px;
        height: 2px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
}