@import 'variables.scss';

.block {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 35px;
    padding-bottom: 35px;

    .header {
        font-size: 35px;
        line-height: 25px;
        color: $primary-color;
        text-transform: uppercase;
    }

    .line {
        background-color: $secondary-color;
        width: 68px;
        height: 2px;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}