.newsItem {
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    background-color: #f8f8f8;

    .newsItem--date {
        color: black;
        font-style: italic;
        margin-top: 10px;
        margin-bottom: 10px;

        @media screen and (max-width: 991px) {
            text-align: center;
        }
    }

    .newsItem--image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .newsItem--text {
        color: black;
        margin-bottom: 50px;

        @media screen and (max-width: 991px) {
            margin-bottom: 15px;
        }
    }

    .newsItem--button {
        button {
            font-size: 14px;
            line-height: 25px;
            position: absolute;
            bottom: 10px;
            right: 30px;

            @media screen and (max-width: 991px) {
                position: relative;
                display: block;
                margin-left: auto;
                margin-right: auto;
                bottom: 0;
                right: 0;
            }
        }
    }
}