$primary-color: #00bdec;
$secondary-color: #ff5384;

$primary-hover-color: #00a2ca;
$secondary-hover-color: #d5d5d5;

:export {
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
  }