.emailForm {
    input {
        margin-bottom: 10px;
    }

    button {
        width: 100%;
    }

    textarea {
        height: 134px;
        resize: none;
    }
}

.contact {
    text-transform: uppercase;
    color: white;
    line-height: 35px;

    .contact--text {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
}